.nav {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  justify-content: space-evenly;
  width: auto;
  color: white;
}
.nav.left {
  display: flex;
}
.nav.right {
  display: flex;
  flex-direction: row;
}

.title {
  background-color: #1f2937;
  text-decoration: none;
  color: white;
}
.landingContainer {
  width: 100%;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
  color: white;
}
img {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.rngSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #1f2937;
}
.checked {
  background-color: #b3e6c4;
}

figcaption {
  color: white;
  text-align: center;
  size: 50px;
  width: 300px;
  background-color: #1f2937;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #035e7b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.faqs-item {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
}

.faqs-title {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  outline: none;
  transition: 0.4s;
}

.faqs-title:after {
  content: "\002B";
  color: #fff;
  font-weight: normal;
  float: right;
  margin-left: auto;
  font-size: 24px;
  line-height: 1;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.active:after {
  content: "\2212";
}

.faqs-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faqs-content-inside {
  padding: 20px;
}
