.nav {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  justify-content: space-evenly;
  width: auto;
  color: white;
}
.nav.left {
  display: flex;
}
.nav.right {
  display: flex;
  flex-direction: row;
}

.title {
  background-color: #1f2937;
  text-decoration: none;
  color: white;
}
.landingContainer {
  width: 100%;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
  color: white;
}
img {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.rngSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #1f2937;
}
.checked {
  background-color: #b3e6c4;
}

figcaption {
  color: white;
  text-align: center;
  size: 50px;
  width: 12vw;
  background-color: #1f2937;
}
